.classpath 
.project 
.settings/ 
bin/ 
target/ 
.metadata/ 
pom.xml.tag 
pom.xml.releaseBackup 
pom.xml.versionsBackup 
pom.xml.next 
*.log 
logs/ 
.DS_Store 
Thumbs.db 
application-local.properties 
application-dev.properties  
